@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: anzo1;
  src: url("./assets/file1.woff2");
}

@font-face {
  font-family: anzo2;
  src: url("./assets/file2.woff2");
}
@font-face {
  font-family: anzo3;
  src: url("./assets/file3.woff2");
}
@font-face {
  font-family: anzo4;
  src: url("./assets/file4.woff2");
}
@font-face {
  font-family: anzo5;
  src: url("./assets/file5.woff2");
}
@font-face {
  font-family: anzo6;
  src: url("./assets/madefor-text.var.original.woff2");
}

#page1 {
  perspective: 500px;
}
#tiltDiv {
  /* background-color: red; */
}

#page2 {
  position: relative;
  perspective: 3000px;
}

/* #rotateText{
  transform: rotateX(40deg);
} */

.rotateText {
  transform-origin: 100% 70%;
}

#page5 {
  position: relative;
  perspective: 3000px;
}

/* #rotate2Text{
  transform: rotateX(80deg);
} */

.rotate2Text {
  transform-origin: 100% 70%;
}

/* #animateline {
  transform-origin: "bottom";
} */
